<!DOCTYPE html>
<html lang="fr" data-turbo="false">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        <link rel="stylesheet" href={{ asset("assets/css/style.css") }} />
        <link href={{ asset('assets/css/bootstrap.min.css') }} rel="stylesheet" />
        {% block stylesheets %}
        {% endblock %}

        <script src="https://unpkg.com/feather-icons"></script>
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header data-bs-theme="dark">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                <a class="navbar-brand" href="#">Ma boutique en ligne</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    </ul>
                    <div class="speed-menu">
                    <a href=""><i data-feather="user"></i></a>
                    <a href=""><i data-feather="shopping-cart"></i></a>
                    </div>
                </div>
                </div>
            </nav>
        </header>

        {% block body %}
        
        {% endblock %}

        <footer class="container">
            <p>
            &copy; 2025 Ma Boutique en ligne <a href="#">CGV</a> &middot;
            <a href="#">CGU</a>
            </p>
        </footer>

        <script src={{ asset("assets/js/bootstrap.bundle.min.js") }}></script>
        <script src={{ asset("assets/js/global.js") }}></script>
    </body>
</html>
